/*typography*/
p {
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #ffce47;
  line-height: 3rem;
  margin: 0.3em 1em;
  margin-right: none;
  line-height: 1;
}

h1 span {
  color: white;
  font-weight: 300;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: #012039;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

/*navbar*/
/*banner*/
.banner {
  height: 70vh;
  background-image: url(background-image.jpg);
  padding: 2em;
  padding-left: 60%;
  background-size: cover;
  background-position: bottom center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  color: #012039;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 800;
  display: inline-block;
  margin: 1em 0em;
  background-color: #ffce47;
  text-transform: uppercase;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*section2*/
.section2 {
  margin: 0em 2em;
  margin-top: 2em;
  line-height: 1.5rem;
}

.section2 p {
  max-width: 1300px;
  margin: 2em auto;
}

/*copy pasted 111 2*/
.section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.card {
  width: 30%;
  background: #edf5fc;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
}

.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 18em;
  width: 100%;
}

.card-content {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*section-4*/
.section-4 {
  background-color: #cfe8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1em;
}

.fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #edf5fc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7.5em;
  height: 7.5em;
  border-radius: 17em;
  text-align: center;
  color: #012039;
  font-size: 1rem;
  margin: 0.5em;
}

.number {
  font-size: 1.5rem;
  margin: 0px;
  font-weight: 800;
}

.fact-description {
  margin: 0.2em;
}

/* My Work */
.image {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(430px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  -ms-grid-rows: 25em 25em;
      grid-template-rows: 25em 25em;
  margin: 0;
}

.image__item {
  background: #edf5fc;
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image__img {
  -webkit-transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  margin: 0 auto;
  max-width: 600px;
}

.image__item:focus {
  position: relative;
  z-index: 2;
}

.image__img:hover,
.image__item:focus .image__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .5;
}

form {
  padding: 1em;
  padding-right: 0;
  background-color: #cfe8ff;
  color: #012039;
  margin: 0;
}

.form-content {
  width: 98%;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  margin-left: 1em;
  margin-bottom: 0.5em;
  border: none;
  background-color: #edf5fc;
}

textarea {
  border: none;
  background-color: #edf5fc;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  color: white;
  background-color: #012039;
  margin: 0;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .banner {
    padding-left: 30%;
  }
  .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .card {
    width: 90%;
    margin: 1em auto;
  }
  .section-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #012039;
  color: white;
  position: fixed;
  width: 100%;
}

.navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  list-style: none;
}

.navbar-links ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  margin: 1em;
  display: inline-block;
  color: white;
  padding: 1rem;
  border-radius: 0.4em;
  text-transform: uppercase;
}

.navbar-links ul li a:hover {
  color: #ffce47;
}

.menu-icon {
  position: absolute;
  top: .1rem;
  right: 1rem;
  padding: 0.5em 1em;
  display: none;
  cursor: pointer;
}

.menu-icon .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar-links {
    display: none;
  }
  .mobile-menu-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em 0;
  }
  .navbar-links ul li {
    text-align: left;
  }
  .navbar-links ul li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=indonesia.css.map */